<header class="flex justify-between items-center border-b font-roboto font-semibold px-5 md:px-24 py-2 md:py-3">
    <a class="cursor-pointer" aria-label="Inicio">
      <img class="h-20 object-cover object-center" src="img/banner.png" alt="Banner HomeChoice" routerLink="/">
    </a>
  
    <button class="flex flex-row hover:bg-blue-100 gap-2.5 rounded-md px-4 py-0.5 h-9 md:h-10 items-center" routerLink="/login">
      {{ "header.button" | translate }}
      <i-lucide [img]="LogIn" class="my-icon" [strokeWidth]="2.5"></i-lucide>
    </button>
</header>