<header class="flex justify-between items-center border-b font-roboto font-semibold px-5 md:px-24 py-2 md:py-3">
    <a class="cursor-pointer" aria-label="Inicio">
      <img class="h-20 object-cover object-center" src="img/banner.png" alt="Banner HomeChoice" routerLink="/">
    </a>
  
    <div class="flex items-center gap-2">
      <button class="flex flex-row text-sm hover:bg-blue-100 gap-2.5 rounded-md px-4 py-0.5 h-9 md:h-10 items-center" routerLink="/login">
        {{ "header.button" | translate }}
        <i-lucide [img]="LogIn" class="my-icon" [strokeWidth]="2.5"></i-lucide>
      </button>

      <div class="relative font-semibold">
        <button 
          class="flex items-center gap-2 hover:bg-blue-50 rounded-md px-4 py-0.5 h-9 md:h-10" 
          (click)="toggleDropdown()"
        >
          <img 
            [src]="'flags/' + currentLanguage + '.svg'" 
            alt="{{ currentLanguage.toUpperCase() }}" 
            class="w-6 h-6 hidden md:inline"
          />
          <span>{{ currentLanguage.toUpperCase() }}</span>
        </button>
    
        <div
          *ngIf="isDropwdownOpen" 
          class="absolute right-0 mt-2 w-32 border z-50 bg-[#fff]"
        >
          <button 
            *ngFor="let lang of languages" 
            (click)="changeLenguage(lang)" 
            class="flex items-center gap-2 px-3 py-2 hover:bg-blue-50 w-full text-left"
          >
            <img 
              [src]="'flags/' + lang + '.svg'" 
              alt="{{ lang.toUpperCase() }}" 
              class="w-6 h-6"
            />
            <span>{{ lang.toUpperCase() }}</span>
          </button>
        </div>
      </div>
    </div>
</header>