<div class="font-robot">
    <img class="h-[300px] w-full object-cover object-center" src="https://picsum.photos/640/480" alt="">
    <div class="my-[24px]">
        <p class="text-sm font-semibold">Disponible</p>
        <h2 class="text-2xl font-bold my-[6px]">Casa Santa Maria</h2>
        <p class="font-semibold">80m²</p>
        <p>$100.000.000</p>
        <p>Venta - Residencial</p>
    </div>
    <button [routerLink]="['/properties', 1]" class="flex items-center justify-center text-sm md:text-base p-4 w-full md:p-[24px] h-[30px] md:h-[48px] border-2 border-de-york-400 gap-x-[4px]">
        Ver Inmueble
        <lucide-icon [img]="Link2" class="my-icon" [strokeWidth]="2.5"></lucide-icon>
    </button>
</div>