<app-header></app-header>

<div class="font-robot text-center my-[40px]">
    <h1 class="text-[40px] md:text-[56px] font-bold mb-[24px]">HomeChoice</h1>
    <p class="text-[11px] md:text-[18px]">Encuentra la casa de tus sueños y hazlo realidad</p>
</div>

<div class="flex flex-wrap mx-auto font-robot my-[40px] w-[293px] md:w-[678px] gap-x-[6px] gap-y-[8px]">
    <input class="h-[30px] md:h-[48px] border p-4 flex-1 outline-none" type="search" name="" placeholder="Search">
    <button class="flex items-center justify-center text-sm md:text-base p-4 w-full md:w-auto md:p-[24px] h-[30px] md:h-[48px] bg-de-york-400 gap-x-[4px]">
        Search
        <lucide-icon [img]="Search" class="my-icon" [strokeWidth]="2.5"></lucide-icon>
    </button>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-x-[32px] gap-y-[64px] m-[64px]">
    <app-card *ngFor="let card of cards"></app-card>
</div>