<div class="mt-5 font-roboto">
    <div class="text-center py-6">
        <h1 class="text-3xl md:text-5xl font-bold">Crear Nueva Propiedad</h1>
        <p class="text-sm md:text-base">Ingresa los datos de la nueva propiedad</p>
    </div>
  
    <form [formGroup]="propertyForm" (ngSubmit)="onSubmit()" class="w-[90%] mx-auto mb-8 font-roboto">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <!-- name -->
            <input type="text" formControlName="name" placeholder="Nombre" class="w-full px-3 py-2 border border-blue-900 rounded-lg text-sm md:text-base outline-none" />
  
            <!-- area -->
            <input type="number" formControlName="area" placeholder="Área" class="w-full px-3 py-2 border border-blue-900 rounded-lg text-sm md:text-base outline-none" min="0"/>
  
            <!-- price -->
            <input type="number" formControlName="price" placeholder="Precio" class="w-full px-3 py-2 border border-blue-900 rounded-lg text-sm md:text-base outline-none" min="0"/>
  
            <!-- address -->
            <input type="text" formControlName="address" placeholder="Dirección" class="w-full px-3 py-2 border border-blue-900 rounded-lg text-sm md:text-base outline-none" />
  
            <!-- latitude -->
            <input type="number" formControlName="latitude" placeholder="Latitud" class="w-full px-3 py-2 border border-blue-900 rounded-lg text-sm md:text-base outline-none" />
  
            <!-- longitude -->
            <input type="number" formControlName="longitude" placeholder="Longitud" class="w-full px-3 py-2 border border-blue-900 rounded-lg text-sm md:text-base outline-none" />
  
            <!-- status -->
            <select formControlName="status" class="w-full px-3 py-2 border border-blue-900 rounded-lg text-sm md:text-base">
                <option *ngFor="let item of statusList" [value]="item.value">{{ item.label }}</option>
            </select>
  
            <!-- concept -->
            <select formControlName="concept" class="w-full px-3 py-2 border border-blue-900 rounded-lg text-sm md:text-base">
                <option value="">Seleccione un concepto</option>
                <option *ngFor="let item of conceptList" [value]="item.concept">{{ item.concept }}</option>
            </select>

            <!-- type -->
            <select formControlName="type" class="w-full px-3 py-2 border border-blue-900 rounded-lg text-sm md:text-base">
                <option value="">Seleccione un tipo</option>
                <option *ngFor="let item of typeList" [value]="item.type">{{ item.type }}</option>
            </select>
  
            <!-- description -->
            <textarea 
            formControlName="description" 
            placeholder="Descripción"
            minlength="200"
            maxlength="250"
            rows="4"
            class="w-full md:col-span-3 px-3 py-2 border border-blue-900 rounded-lg text-sm md:text-base outline-none" 
            ></textarea>
  
            <!-- amenities -->
            <div class="md:col-span-3">
                <h2 class="mb-4 font-bold">Comodidades</h2>
                <div class="grid grid-cols-2 md:grid-cols-3 gap-3">
                    <div class="form-check" *ngFor="let item of amenitiesList">
                        <input class="form-check-input" type="checkbox" [value]="item.amenity" (change)="onAmenityChange($event, item.amenity)" [checked]="isAmenitySelected(item.amenity)" [id]="'amenity-' + item.id">
                        <label class="form-check-label ml-2" [for]="'amenity-' + item.id">{{ item.amenity }}</label>
                    </div>
                </div>
            </div>
  
            <!-- images -->
            <div class="md:col-span-3 mb-4">
                <h2 class="mb-4 font-bold">Imágenes</h2>
                <div class="flex flex-col items-center w-full p-4 rounded-3 text-center border-2 border-dashed">
                    <input
                        type="file"
                        class="d-none w-full max-w-xs p-2 text-sm md:text-base"
                        id="images"
                        multiple
                        accept="image/*"
                        (change)="onFileChange($event)">
                    
                    <i-lucide [img]="CloudUpload" class="my-icon mb-3" [strokeWidth]="2.5"></i-lucide>
                    
                    <label for="images" class="d-block cursor-pointer">
                        <p><span>Click para subir</span> o arrastrar y soltar</p>
                        <!-- TODO: Add validation 10MB -->
                        <p>PNG, JPG, GIF hasta 10MB</p>
                    </label>
                </div>
            </div>
  
            <!-- submit button -->
            <div class="md:col-span-3 text-center mt-4">
                <button type="submit" class="bg-blue-200 hover:bg-blue-300 rounded-md font-bold px-3 py-2 focus:outline-none cursor-pointer" [disabled]="propertyForm.invalid">
                    Guardar Propiedad
                </button>
            </div>
        </div>
    </form>
</div>

<app-scroll-top></app-scroll-top>