<app-header></app-header>

<section class="font-roboto text-center my-[48px]">
    <h1 class="text-[32px] md:text-5xl font-bold">
        HomeChoice
    </h1>
    <p class="text-sm md:text-base">
        Encuentra la casa de tus sueños y hazlo realidad
    </p>
</section>

<!-- search -->


<!-- properties -->
<div class="mx-auto my-[24px] md:my-[48px] grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-[40px] w-[90%]">
    <app-card *ngFor="let property of properties | paginate: { itemsPerPage: size, currentPage: page }" [property]="property"></app-card>
</div>

<!-- controls -->
<div class="grid place-items-center py-2 font-roboto">
    <pagination-controls 
        class="my-pagination"
        (pageChange)="page = $event" 
        previousLabel="Anterior" 
        nextLabel="Siguiente">
    </pagination-controls>
</div>