<app-header></app-header>

<section class="font-roboto text-center my-12">
    <h1 class="text-4xl md:text-5xl font-bold">
        {{ 'property.pages.public.title' | translate }}
    </h1>
    <p class="text-sm md:text-base">
        {{ 'property.pages.public.quote' | translate }}
    </p>
</section>

<!-- search -->
<form [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="w-[90%] mx-auto my-8 font-roboto p-6 shadow-md rounded-lg">
  <div class="grid grid-cols-1 md:grid-cols-7 gap-4 items-center">    
    
    <!-- name -->
    <div>
      <input 
        type="text" 
        formControlName="name" 
        [placeholder]="'property.pages.form.name.placeholder' | translate" 
        class="w-full px-4 py-3 border border-blue-900 rounded-md text-sm md:text-base outline-none focus:ring-2 focus:ring-blue-200"
      />
    </div>
    
    <!-- status -->
    <div>
      <select 
        formControlName="status" 
        class="w-full px-4 py-3 border border-blue-900 rounded-md text-sm md:text-base outline-none focus:ring-2 focus:ring-blue-200"
      >
        <option value="" selected>{{ 'property.pages.list.form.status' | translate }}</option>
        <option *ngFor="let item of statusList" [value]="item.value">{{item.label}}</option>
      </select>
    </div>
    
    <!-- concept -->
    <div>
      <select 
        formControlName="concept" 
        class="w-full px-4 py-3 border border-blue-900 rounded-md text-sm md:text-base outline-none focus:ring-2 focus:ring-blue-200"
      >
        <option value="" selected>{{ 'property.pages.list.form.concept' | translate }}</option>
        <option *ngFor="let item of conceptList" [value]="item.concept">{{item.concept}}</option>
      </select>
    </div>
    
    <!-- type -->
    <div>
      <select 
        formControlName="type" 
        class="w-full px-4 py-3 border border-blue-900 rounded-md text-sm md:text-base outline-none focus:ring-2 focus:ring-blue-200"
      >
        <option value="" selected>{{ 'property.pages.list.form.type' | translate }}</option>
        <option *ngFor="let item of typeList" [value]="item.type">{{item.type}}</option>
      </select>
    </div>
    
    <!-- price -->
    <div>
      <input 
        type="number" 
        formControlName="minPrice" 
        [placeholder]="'property.pages.list.form.price' | translate"
        class="w-full px-4 py-3 border border-blue-900 rounded-md text-sm md:text-base outline-none focus:ring-2 focus:ring-blue-200" 
        min="0"
      />
    </div>
    
    <!-- area -->
    <div>
      <input 
        type="number" 
        formControlName="minArea" 
        [placeholder]="'property.pages.form.area.placeholder' | translate"
        min="0" 
        class="w-full px-4 py-3 border border-blue-900 rounded-md text-sm md:text-base outline-none focus:ring-2 focus:ring-blue-200" 
      />
    </div>

    <!-- submit button -->
    <button 
      type="submit" 
      class="bg-blue-200 hover:bg-blue-300 rounded-md font-bold px-4 py-3 text-sm md:text-base"
    >
      {{ 'property.pages.list.form.button' | translate }}
    </button>
  </div>
</form>

<!-- properties not found -->
<div class="mx-auto my-6 md:my-12 text-center" *ngIf="totalData === 0">
  <h2 class="text-2xl font-bold text-gray-500">
    {{ 'property.pages.list.notfound.title' | translate }}
  </h2>
  <p class="text-gray-400">{{ 'property.pages.list.notfound.description' | translate }}</p>
</div>

<!-- properties -->
<div class="mx-auto my-6 md:my-12 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-10 w-[90%]">
    <app-card *ngFor="let property of properties | paginate: { itemsPerPage: sizeValue, currentPage: pageValue, totalItems: totalData }" [property]="property"></app-card>
</div>

<!-- controls -->
<div class="grid place-items-center py-2 font-roboto">
  <pagination-controls 
      class="my-pagination"
      (pageChange)="onPageChange($event)" 
      previousLabel="Anterior" 
      nextLabel="Siguiente"
      [maxSize]="5">
  </pagination-controls>
</div>  

<app-scroll-top></app-scroll-top>