<app-header></app-header>

<div class="flex flex-col xl:flex-row font-roboto mt-12 px-6 pb-6 gap-[5%]">
    <!-- info -->
    <div id="info" class="xl:w-[45%]">
        
        <!-- property -->
        <div class="flex flex-col gap-6 px-6 pb-6">
            <h1 class="font-bold text-4xl md:text-[40px]">{{ property.name }}</h1>
            
            <div class="flex flex-wrap gap-[12px] md:gap-[48px] font-semibold text-xs md:text-sm">
                <p>
                    <span 
                        [ngClass]="property.status ? 'bg-blue-100 text-blue-700 px-3 py-1 rounded-md' : 
                        'bg-red-100 text-red-700 px-3 py-1 rounded-md'">
                        {{ property.status ? 'Disponible' : 'No disponible' }}
                    </span>
                </p>
                <p>$ {{ property.price | currency: '':'':'1.0-0' }} COP</p>
                <p>{{ property.area }} m²</p>
                <p>{{ property.concept }}</p>
                <p>{{ property.type }}</p>
            </div>
    
            <p class="text-sm md:text-base">{{ property.description }} Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae adipisci magni nam inventore impedit quas saepe voluptatibus expedita, quasi vitae hic eum vol Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium ea esse necessitatibus laboriosam suscipit ducimus fuga. Enim voluptate facere impedit totam. Nam sunt eaque laboriosam itaque, inventore vitae! Libero, dignissimos.e vero? Lore</p>

            <div class="flex flex-wrap gap-2 text-xs md:text-sm font-semibold">
                <ng-container *ngFor="let amenity of property.amenities; let last = last">
                    <span class="bg-blue-700 text-blue-100 px-3 py-1 rounded-md">
                        {{ amenity }}
                    </span>
                </ng-container>
            </div>         
            
            <p class="text-sm md:text-base"><b>Dirección:</b> {{ property.address }}</p>
        </div>

        <!-- agent -->
        <div class="flex flex-col gap-[16px] p-[20px] border-t border-b">
            <h2 class="font-bold text-base md:text-2xl">Agente</h2>
            
            <div class="text-sm md:text-base">
                <p><b>Nombre:</b> {{ agent.name }}</p>
                <p><b>Telefono:</b> {{ agent.phone }}</p>
                <p><b>Correo:</b> {{ agent.email }}</p>
            </div>

            <button 
            class="text-sm md:text-base bg-blue-200 hover:bg-blue-300 font-semibold rounded-md h-[36px] md:h-[39px] py-[2px] w-[106px]"
            (click)="contactAgent()"
            >
                Contactar
            </button>
        </div>
    </div>

    <div class="flex-1 mt-[48px] xl:mt-0 xl:mb-0">
        <img class="bg-cover bg-center h-full w-full xl:w-auto rounded-xl" [src]="property.images[0]" alt="image"/>
    </div>
</div>

<!-- map -->
<iframe 
    class="p-[24px] w-[100%] h-[269px] md:h-[350px]" 
    style="border:0" 
    loading="lazy" 
    allowfullscreen 
    [src]="mapUrl">
</iframe>