<app-header></app-header>

<div class="flex flex-col xl:flex-row font-roboto mt-12 px-6 pb-6 gap-[5%] w-11/12 mx-auto">
    <!-- info -->
    <div id="info" class="xl:w-[45%]">
        
        <!-- property -->
        <div class="flex flex-col gap-6 px-6 pb-6">
            <h1 class="font-bold text-4xl md:text-5xl">{{ property.name }}</h1>
            
            <div class="flex flex-wrap gap-3 md:gap-x-12 md:gap-y-6 font-semibold text-xs md:text-sm">
                <p>
                    <span 
                        [ngClass]="property.status ? 'bg-blue-100 text-blue-700 px-3 py-1 rounded-md' : 
                        'bg-red-100 text-red-700 px-3 py-1 rounded-md'">
                        {{ property.status ? ('property.components.card.status.true' | translate) : ('property.components.card.status.false' | translate) }}
                    </span>
                </p>
                <p>$ {{ property.price | currency: '':'':'1.0-0' }} COP</p>
                <p>{{ property.area }} m²</p>
                <p>{{ property.concept }}</p>
                <p>{{ property.type }}</p>
            </div>
    
            <p class="text-sm md:text-base">{{ property.description }}</p>

            <div class="flex flex-wrap gap-2 text-xs md:text-sm font-semibold">
                <ng-container *ngFor="let amenity of property.amenities; let last = last">
                    <span class="bg-blue-700 text-blue-100 px-3 py-1 rounded-md">
                        {{ amenity }}
                    </span>
                </ng-container>
            </div>         
            
            <p class="text-sm md:text-base"><b>{{ 'property.pages.details.info.address' | translate }}</b> {{ property.address }}</p>
        </div>

        <!-- agent -->
        <div class="flex flex-col gap-4 p-5 border-t border-b">
            <h2 class="font-bold text-base md:text-2xl">{{ 'property.pages.details.info.agent.title' | translate }}</h2>
            
            <div class="text-sm md:text-base">
                <p><b>{{ 'property.pages.details.info.agent.name' | translate }}</b> {{ agent.name }}</p>
                <p><b>{{ 'property.pages.details.info.agent.phone' | translate }}</b> {{ agent.phone }}</p>
                <p><b>{{ 'property.pages.details.info.agent.email' | translate }}</b> {{ agent.email }}</p>
            </div>

            <button 
            class="text-sm md:text-base bg-blue-200 hover:bg-blue-300 font-semibold rounded-md h-9 md:h-10 py-0.5 w-28"
            (click)="contactAgent()"
            >
                {{ 'property.pages.details.info.agent.button' | translate }}
            </button>
        </div>
    </div>

    <div class="flex-1 mt-12 xl:mt-0 xl:mb-0">
        <!-- carousel -->
        <app-carousel
            [imageUrls]="property.images"
            [autoPlay]="true"
            [slideInterval]="8000"
        ></app-carousel>

        <!-- map -->
        <iframe 
        class="pt-12 w-full h-64 md:h-72"
        style="border:0" 
        loading="lazy" 
        allowfullscreen 
        [src]="mapUrl">
        </iframe>
    </div>
</div>