<main class="flex items-center justify-center min-h-screen bg-blue-50 font-roboto">
    <div class="text-center">
      <h1 class="text-9xl font-bold text-blue-300">403</h1>
      <p class="text-2xl text-blue-900 mt-4 font-bold">Acceso no autorizado</p>
      <p class="text-blue-950 mt-2">No tienes permiso para ver esta página.</p>
      <button routerLink="/" class="mt-8 h-9 md:h-10 px-4 font-semibold bg-blue-200 rounded-md hover:bg-blue-300">
        Volver al inicio
      </button>
    </div>
</main>