<main class="flex items-center justify-center min-h-screen bg-blue-50 font-roboto">
    <div class="text-center">
      <h1 class="text-9xl font-bold text-blue-800">Error</h1>
      <p class="text-2xl text-blue-400 mt-4">Ha ocurrido un error inesperado</p>
      <p class="text-blue-400 mt-2">Por favor, intenta nuevamente más tarde.</p>
      <a routerLink="/" class="mt-8 inline-block px-6 py-3 font-bold text-blue-50 bg-blue-300 rounded-md hover:bg-blue-400">
        Volver al inicio
      </a>
    </div>
</main>