<!-- search -->
<form [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="w-[90%] mx-auto my-8 font-roboto p-6 shadow-md rounded-lg">
    <div class="grid grid-cols-1 md:grid-cols-7 gap-4 items-center">
      
      <!-- name -->
      <div>
        <input 
          type="text" 
          formControlName="name" 
          [placeholder]="'property.pages.form.name.placeholder' | translate" 
          class="w-full px-4 py-3 border border-blue-900 rounded-md text-sm md:text-base outline-none focus:ring-2 focus:ring-blue-200"
        />
      </div>
      
      <!-- status -->
      <div>
        <select 
          formControlName="status" 
          class="w-full px-4 py-3 border border-blue-900 rounded-md text-sm md:text-base outline-none focus:ring-2 focus:ring-blue-200"
        >
          <option value="" selected>{{ 'property.pages.list.form.status' | translate }}</option>
          <option *ngFor="let item of statusList" [value]="item.value">{{item.label}}</option>
        </select>
      </div>
      
      <!-- concept -->
      <div>
        <select 
          formControlName="concept" 
          class="w-full px-4 py-3 border border-blue-900 rounded-md text-sm md:text-base outline-none focus:ring-2 focus:ring-blue-200"
        >
          <option value="" selected>{{ 'property.pages.list.form.concept' | translate }}</option>
          <option *ngFor="let item of conceptList" [value]="item.concept">{{item.concept}}</option>
        </select>
      </div>
      
      <!-- type -->
      <div>
        <select 
          formControlName="type" 
          class="w-full px-4 py-3 border border-blue-900 rounded-md text-sm md:text-base outline-none focus:ring-2 focus:ring-blue-200"
        >
          <option value="" selected>{{ 'property.pages.list.form.type' | translate }}</option>
          <option *ngFor="let item of typeList" [value]="item.type">{{item.type}}</option>
        </select>
      </div>
      
      <!-- price -->
      <div>
        <input 
          type="number" 
          formControlName="minPrice" 
          [placeholder]="'property.pages.list.form.price' | translate" 
          class="w-full px-4 py-3 border border-blue-900 rounded-md text-sm md:text-base outline-none focus:ring-2 focus:ring-blue-200" 
          min="0"
        />
      </div>
      
      <!-- area -->
      <div>
        <input 
          type="number" 
          formControlName="minArea" 
          [placeholder]="'property.pages.form.area.placeholder' | translate"
          min="0" 
          class="w-full px-4 py-3 border border-blue-900 rounded-md text-sm md:text-base outline-none focus:ring-2 focus:ring-blue-200"
        />
      </div>

      <!-- submit button -->
      <button 
        type="submit" 
        class="bg-blue-200 hover:bg-blue-300 rounded-md font-bold px-4 py-3 text-sm md:text-base"
      >
        {{ 'property.pages.list.form.button' | translate }}
      </button>
    </div>
</form>

<!-- table -->
<div class="mt-6 w-full px-4 text-sm md:text-base font-roboto text-center">
    <div class="overflow-x-auto">
        <div class="min-w-[1000px]">
            <table class="w-full table-auto">
                <thead class="bg-blue-800 text-blue-50">
                    <tr>
                        <th class="p-3 md:p-4" scope="col">{{ 'property.pages.list.table.th.id' | translate }}</th>
                        <th class="p-3 md:p-4" scope="col">{{ 'property.pages.list.table.th.name' | translate }}</th>
                        <th class="p-3 md:p-4" scope="col">{{ 'property.pages.list.table.th.address' | translate }}</th>
                        <th class="p-3 md:p-4" scope="col">{{ 'property.pages.list.table.th.status' | translate }}</th>
                        <th class="p-3 md:p-4" scope="col">{{ 'property.pages.list.table.th.concept' | translate }}</th>
                        <th class="p-3 md:p-4" scope="col">{{ 'property.pages.list.table.th.type' | translate }}</th>
                        <th class="p-3 md:p-4" scope="col">{{ 'property.pages.list.table.th.actions' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let property of properties | paginate: { itemsPerPage: sizeValue, currentPage: pageValue, totalItems: totalData }" class="hover:bg-blue-50">
                        <td class="p-3 md:p-4">{{ property.id }}</td>
                        <td class="p-3 md:p-4">{{ property.name }}</td>
                        <td class="p-3 md:p-4">{{ property.address }}</td>
                        <td class="p-3 md:p-4">
                            <span class="font-semibold" [ngClass]="property.status ? 
                                'bg-blue-100 text-blue-700 px-3 py-1 rounded-md' : 
                                'bg-red-100 text-red-700 px-3 py-1 rounded-md'">
                                {{ property.status ? ('property.components.card.status.true' | translate) : ('property.components.card.status.false' | translate) }}
                            </span>
                        </td>
                        <td class="p-3 md:p-4">{{ property.concept }}</td>
                        <td class="p-3 md:p-4">{{ property.type }}</td>
                        <td class="p-3 md:p-4">
                            <div class="flex gap-3 items-center justify-center">
                                <button class="p-3 bg-yellow-50 hover:bg-yellow-100 text-yellow-600 rounded-full" 
                                        (click)="view(property)">
                                    <i-lucide [img]="Eye" class="w-5 h-5" [strokeWidth]="2.5"></i-lucide>
                                </button>
                                <button class="p-3 bg-blue-50 hover:bg-blue-100 text-blue-600 rounded-full" 
                                        (click)="onEdit(property)">
                                    <i-lucide [img]="Pencil" class="w-5 h-5" [strokeWidth]="2.5"></i-lucide>
                                </button>
                                <button class="p-3 bg-red-50 hover:bg-red-100 text-red-600 rounded-full" 
                                        (click)="confirmDelete(property)">
                                    <i-lucide [img]="Trash2" class="w-5 h-5" [strokeWidth]="2.5"></i-lucide>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- properties not found -->
<div class="mx-auto my-6 md:my-12 text-center" *ngIf="totalData === 0">
    <h2 class="text-2xl font-bold text-gray-500">
      {{ 'property.pages.list.notfound.title' | translate }}
    </h2>
    <p class="text-gray-400">{{ 'property.pages.list.notfound.description' | translate }}</p>
</div>

<!-- delete confirmation modal -->
<div *ngIf="showDeleteModal" 
     class="fixed inset-0 bg-blue-950/50 flex items-center justify-center z-50"
     (click)="closeModal()">
    
    <!-- content -->
    <div class="bg-blue-50 w-11/12 max-w-md rounded-lg shadow-lg" 
         (click)="$event.stopPropagation()">
        
        <!-- header -->
        <div class="p-4 border-b border-blue-200">
            <h3 class="text-lg font-medium text-blue-900">
              {{ 'property.pages.list.modal.title' | translate }}
            </h3>
        </div>

        <!-- body -->
        <div class="p-4">
            <p class="text-blue-800">
              {{ 'property.pages.list.modal.description1' | translate }} <b>{{ 'property.pages.list.modal.description2' | translate }} {{propertyToDelete}}.</b> {{ 'property.pages.list.modal.description3' | translate }}
            </p>
        </div>

        <!-- footer -->
        <div class="p-4 border-t border-blue-200 flex justify-end space-x-3">
            <button 
                class="px-4 py-2 bg-blue-50 text-blue-700 rounded-md hover:bg-blue-100"
                (click)="closeModal()">
                {{ 'property.pages.list.modal.back' | translate }}
            </button>
            <button 
                class="px-4 py-2 bg-red-600 text-blue-50 rounded-md hover:bg-red-700"
                (click)="deleteProperty()">
                {{ 'property.pages.list.modal.next' | translate }}
            </button>
        </div>
    </div>
</div>

<!-- controls -->
<div class="grid place-items-center py-2 mt-8 font-roboto">
    <pagination-controls 
        class="my-pagination"
        (pageChange)="onPageChange($event)" 
        previousLabel="Anterior" 
        nextLabel="Siguiente"
        [maxSize]="5">
    </pagination-controls>
</div>

<app-scroll-top></app-scroll-top>