<!-- search -->
<form [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="w-[90%] mx-auto my-8 font-roboto">
    <div class="grid grid-cols-1 md:grid-cols-7 gap-2">    
      <!-- name -->
      <div>
        <input type="text" formControlName="name" placeholder="Nombre" class="w-full px-3 py-2 bg-white border border-blue-900 rounded-lg text-sm md:text-base outline-none"/>
      </div>
      
      <!-- status -->
      <div>
        <select formControlName="status" class="w-full px-3 py-2 bg-white border border-blue-900 rounded-lg text-sm md:text-base">
          <option value="" selected>Disponibilidad</option>
          <option *ngFor="let item of statusList" [value]="item.value">{{item.label}}</option>
        </select>
      </div>
      
      <!-- concept -->
      <div>
        <select formControlName="concept" class="w-full px-3 py-2 bg-white border border-blue-900 rounded-lg text-sm md:text-base outline-none">
          <option value="" selected>Concepto</option>
          <option *ngFor="let item of conceptList" [value]="item.concept">{{item.concept}}</option>
        </select>
      </div>
      
      <!-- type -->
      <div>
        <select formControlName="type" class="w-full px-3 py-2 bg-white border border-blue-900 rounded-lg text-sm md:text-base outline-none">
          <option value="" selected>Tipo</option>
          <option *ngFor="let item of typeList" [value]="item.type">{{item.type}}</option>
        </select>
      </div>
      
      <!-- price -->
      <div>
        <input type="number" formControlName="minPrice" placeholder="Desde" class="w-full px-3 py-2 bg-white border border-blue-900 rounded-lg text-sm md:text-base outline-none" min="0"/>
      </div>
      
      <!-- area -->
      <div>
        <input type="number" formControlName="minArea" placeholder="Área" min="0" class="w-full px-3 py-2 bg-white border border-blue-900 rounded-lg text-sm md:text-base outline-none"/>
      </div>

      <button type="submit" class="bg-blue-200 hover:bg-blue-300 rounded-md font-bold px-3 py-2">Buscar</button>
    </div>
</form>

<!-- table -->
<div class="mt-[24px] w-full px-4 text-sm md:text-base font-roboto text-center">
    <div class="overflow-x-auto">
        <div class="min-w-[1000px]">
            <table class="w-full table-auto">
                <thead class="bg-blue-800 text-blue-50">
                    <tr>
                        <th class="p-3 md:p-4" scope="col">ID</th>
                        <th class="p-3 md:p-4" scope="col">NOMBRE</th>
                        <th class="p-3 md:p-4" scope="col">DIRECCION</th>
                        <th class="p-3 md:p-4" scope="col">ESTADO</th>
                        <th class="p-3 md:p-4" scope="col">CONCEPTO</th>
                        <th class="p-3 md:p-4" scope="col">TIPO</th>
                        <th class="p-3 md:p-4" scope="col">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let property of properties | paginate: { itemsPerPage: sizeValue, currentPage: pageValue, totalItems: totalData }" class="hover:bg-blue-50">
                        <td class="p-3 md:p-4">{{ property.id }}</td>
                        <td class="p-3 md:p-4">{{ property.name }}</td>
                        <td class="p-3 md:p-4">{{ property.address }}</td>
                        <td class="p-3 md:p-4">
                            <span class="font-semibold" [ngClass]="property.status ? 
                                'bg-blue-100 text-blue-700 px-3 py-1 rounded-md' : 
                                'bg-red-100 text-red-700 px-3 py-1 rounded-md'">
                                {{ property.status ? 'Disponible' : 'No disponible' }}
                            </span>
                        </td>
                        <td class="p-3 md:p-4">{{ property.concept }}</td>
                        <td class="p-3 md:p-4">{{ property.type }}</td>
                        <td class="p-3 md:p-4">
                            <div class="flex gap-3 items-center justify-center">
                                <button class="p-3 bg-blue-50 hover:bg-blue-100 text-blue-600 rounded-md" 
                                        (click)="openChangeAgentModal(property.id)">
                                    <i-lucide [img]="User" class="w-5 h-5" [strokeWidth]="2.5"></i-lucide>
                                </button>
                                <button class="p-3 bg-red-50 hover:bg-red-100 text-red-600 rounded-md" 
                                        (click)="confirmDelete(property)">
                                    <i-lucide [img]="Trash2" class="w-5 h-5" [strokeWidth]="2.5"></i-lucide>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- properties not found -->
<div class="mx-auto my-6 md:my-12 text-center" *ngIf="totalData === 0">
    <h2 class="text-2xl font-bold text-gray-500">
        ¡Ninguna propiedad fue encontrada!
    </h2>
    <p class="text-gray-400">Intenta modificar los filtros de búsqueda.</p>
</div>


<!-- delete confirmation modal -->
<div *ngIf="showDeleteModal" 
     class="fixed inset-0 bg-blue-950/50 flex items-center justify-center z-50"
     (click)="closeModal()">
    
    <!-- content -->
    <div class="bg-blue-50 w-11/12 max-w-md rounded-lg shadow-lg" 
         (click)="$event.stopPropagation()">
        
        <!-- header -->
        <div class="p-4 border-b border-blue-200">
            <h3 class="text-lg font-medium text-blue-900">
                Confirmar eliminación
            </h3>
        </div>

        <!-- body -->
        <div class="p-4">
            <p class="text-blue-800">
                ¿Estás seguro de que deseas eliminar esta propiedad con <b>ID: {{propertyToDelete}}</b> Esta acción no se puede deshacer.
            </p>
        </div>

        <!-- footer -->
        <div class="p-4 border-t border-blue-200 flex justify-end space-x-3">
            <button 
                class="px-4 py-2 bg-blue-50 text-blue-700 rounded-md hover:bg-blue-100"
                (click)="closeModal()">
                Cancelar
            </button>
            <button 
                class="px-4 py-2 bg-red-600 text-blue-50 rounded-md hover:bg-red-700"
                (click)="deleteProperty()">
                Eliminar
            </button>
        </div>
    </div>
</div>

<!-- change agent modal -->
<div *ngIf="showChangeAgentModal" 
     class="fixed inset-0 bg-blue-950/50 flex items-center justify-center z-50"
     (click)="closeChangeAgentModal()">
    
    <!-- content -->
    <div class="bg-blue-50 w-11/12 max-w-md rounded-lg shadow-lg" 
         (click)="$event.stopPropagation()">
        
        <!-- header -->
        <div class="p-4 border-b border-blue-200">
            <h3 class="text-lg font-medium text-blue-900">
                Cambiar Agente Asignado
            </h3>
        </div>

        <!-- body -->
        <div class="p-4">
            <p class="text-blue-800 mb-4">
                Seleccione el nuevo agente para la propiedad con <b>ID: {{selectedPropertyId}}</b>
            </p>
            <select 
                [(ngModel)]="selectedAgentId"
                class="w-full px-4 py-2.5 bg-white border border-blue-900 rounded-lg text-sm focus:border-blue-600 focus:outline-none">
                <option value="" disabled selected>Seleccionar agente</option>
                <option *ngFor="let agent of agentList" [value]="agent.id">
                    {{agent.firstName}} {{agent.lastName}}
                </option>
            </select>
        </div>

        <!-- footer -->
        <div class="p-4 border-t border-blue-200 flex justify-end space-x-3">
            <button 
                class="px-4 py-2 bg-blue-50 text-blue-700 rounded-md hover:bg-blue-100"
                (click)="closeChangeAgentModal()">
                Cancelar
            </button>
            <button 
                class="px-4 py-2 bg-blue-600 text-blue-50 rounded-md hover:bg-blue-700"
                (click)="confirmAgentChange()"
                [disabled]="!selectedAgentId">
                Guardar Cambios
            </button>
        </div>
    </div>
</div>

<!-- pagination controls -->
<div class="grid place-items-center py-2 mt-8 font-roboto">
    <pagination-controls 
        class="my-pagination"
        (pageChange)="onPageChange($event)" 
        previousLabel="Anterior" 
        nextLabel="Siguiente"
        [maxSize]="5">
    </pagination-controls>
</div>

<app-scroll-top></app-scroll-top>