<div class="font-roboto">
    <img class="w-full h-[240px] md:h-[300px] object-cover object-center" [src]="property.images[0]">
    <div class="px-[14px]">
        <p class="mt-[24px] text-xs md:text-sm font-semibold">
            {{ property.status ? 'Disponible' : 'No disponible' }}
        </p>
        <h2 class="text-xl md:text-2xl font-bold mt-[16px]">
            {{ property.name }}
        </h2>
        <p class="text-sm md:text-base font-semibold mt-[16px]">
            {{ property.area }} m²
        </p>
        <p class="text-sm md:text-base">
            ${{ property.price }} COP
        </p>
        <p class="text-sm md:text-base mb-[24px]">
            {{ property.concept }} - {{ property.type }}
        </p>
    </div>
    <button
    class="flex flex-row gap-[10px] text-sm md:text-base border rounded-md px-[15px] py-[2px] h-[36px] md:h-[39px] items-center font-semibold w-full justify-center"
    [routerLink]="[property.id]">
        Ver Inmueble
        <i-lucide [img]="Link" class="my-icon" [strokeWidth]="2.5"></i-lucide>
    </button>
</div>