<header class="bg-blue-950 text-blue-100 font-roboto text-sm px-5 md:px-24 py-2 md:py-3">
    <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            <a routerLink="/dashboard/hello">
                <img class="h-[90px] object-cover object-center" src="img/banner_white.png" alt="Banner HomeChoice">
            </a>

            <div class="flex items-center">
                <div class="hidden md:block">
                    <ul class="flex items-center space-x-4">
                        <li *hasRole="['AGENT']" >
                            <a routerLink="my-properties" 
                                routerLinkActive="bg-blue-700"
                                class="hover:bg-blue-600 px-3 py-2 rounded-md font-medium">
                                {{ "navbar.my-properties" | translate }}
                            </a>
                        </li>
                        <li *hasRole="['SUPER_ADMIN', 'ADMIN']">
                            <a routerLink="properties" 
                                routerLinkActive="bg-blue-700"
                                class="hover:bg-blue-600 px-3 py-2 rounded-md font-medium">
                                {{ "navbar.properties" | translate }}
                            </a>
                        </li>
                        <li *hasRole="['AGENT']">
                            <a routerLink="create-property" 
                                routerLinkActive="bg-blue-700"
                                class="hover:bg-blue-600 px-3 py-2 rounded-md font-medium">
                                {{ "navbar.create-property" | translate }}
                            </a>
                        </li>
                        <li *hasRole="['SUPER_ADMIN', 'ADMIN']">
                            <a routerLink="frozen-properties" 
                                routerLinkActive="bg-blue-700"
                                class="hover:bg-blue-600 px-3 py-2 rounded-md font-medium">
                                {{ "navbar.frozen-properties" | translate }}
                            </a>
                        </li>
                        <li *hasRole="['SUPER_ADMIN']">
                            <a routerLink="users" 
                                routerLinkActive="bg-blue-700"
                                class="hover:bg-blue-600 px-3 py-2 rounded-md font-medium">
                                {{ "navbar.users" | translate }}
                            </a>
                        </li>
                        <li *hasRole="['SUPER_ADMIN']">
                            <a routerLink="create-user" 
                                routerLinkActive="bg-blue-700"
                                class="hover:bg-blue-600 px-3 py-2 rounded-md font-medium">
                                {{ "navbar.create-user" | translate }}
                            </a>
                        </li>
                        <li *hasRole="['ADMIN']" >
                            <a routerLink="agents" 
                                routerLinkActive="bg-blue-700"
                                class="hover:bg-blue-600 px-3 py-2 rounded-md font-medium">
                                {{ "navbar.agents" | translate }}
                            </a>
                        </li>
                        <li *hasRole="['ADMIN']">
                            <a routerLink="create-agent" 
                                routerLinkActive="bg-blue-700"
                                class="hover:bg-blue-600 px-3 py-2 rounded-md font-medium">
                                {{ "navbar.create-agent" | translate }}
                            </a>
                        </li>
                        <li>
                            <a (click)="logout()" 
                                class="hover:bg-blue-600 px-3 py-2 rounded-md font-medium cursor-pointer">
                                {{ "navbar.logout" | translate }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="relative font-semibold">
                <button 
                  class="flex items-center gap-2 hover:bg-blue-600 rounded-md px-4 py-0.5 h-9 md:h-10" 
                  (click)="toggleDropdown()"
                >
                  <img 
                        [src]="'flags/' + currentLanguage + '.svg'" 
                        alt="{{ currentLanguage.toUpperCase() }}" 
                        class="w-6 h-6 hidden md:inline"
                  />
                  <span>{{ currentLanguage.toUpperCase() }}</span>
                </button>
            
                <div
                  *ngIf="isDropwdownOpen" 
                  class="absolute right-0 mt-2 w-32 border z-50 bg-blue-800"
                >
                    <button 
                        *ngFor="let lang of languages" 
                        (click)="changeLenguage(lang)" 
                        class="flex items-center gap-2 px-3 py-2 hover:bg-blue-900 w-full text-left"
                    >
                        <img 
                        [src]="'flags/' + lang + '.svg'" 
                        alt="{{ lang.toUpperCase() }}" 
                        class="w-6 h-6"
                        />
                        <span>{{ lang.toUpperCase() }}</span>
                    </button>
                </div>
            </div>

            <div class="md:hidden">
                <button
                    (click)="isOpen = !isOpen"
                    class="inline-flex items-center justify-center p-2 rounded-md hover:bg-blue-600">
                    
                    <svg *ngIf="!isOpen" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                    <svg *ngIf="isOpen" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>

        </div>
    </nav>

    <!-- mobile menu -->
    <nav *ngIf="isOpen" class="md:hidden text-xs">
        <ul class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
            <li *hasRole="['AGENT']">
                <a 
                routerLink="my-properties"
                routerLinkActive="bg-blue-700"
                class="hover:bg-blue-600 block px-3 py-2 rounded-md font-medium">
                    {{ "navbar.my-properties" | translate }}
                </a>
            </li>
            <li *hasRole="['SUPER_ADMIN', 'ADMIN']">
                <a
                routerLink="properties"
                routerLinkActive="bg-blue-700"
                class="hover:bg-blue-600 block px-3 py-2 rounded-md font-medium">
                    {{ "navbar.properties" | translate }}
                </a>
            </li>
            <li *hasRole="['AGENT']">
                <a
                routerLink="create-property"
                routerLinkActive="bg-blue-700"
                class="hover:bg-blue-600 block px-3 py-2 rounded-md font-medium">
                    {{ "navbar.create-property" | translate }}
                </a>
            </li>
            <li *hasRole="['SUPER_ADMIN', 'ADMIN']">
                <a 
                routerLink="frozen-properties"
                routerLinkActive="bg-blue-700"
                class="hover:bg-blue-600 block px-3 py-2 rounded-md font-medium">
                    {{ "navbar.frozen-properties" | translate }}
                </a>
            </li>
            <li *hasRole="['SUPER_ADMIN']">
                <a
                routerLink="users"
                routerLinkActive="bg-blue-700"
                class="hover:bg-blue-600 block px-3 py-2 rounded-md font-medium">
                    {{ "navbar.users" | translate }}
                </a>
            </li>
            <li *hasRole="['SUPER_ADMIN']">
                <a 
                routerLink="create-user"
                routerLinkActive="bg-blue-700"
                class="hover:bg-blue-600 block px-3 py-2 rounded-md font-medium">
                    {{ "navbar.create-user" | translate }}
                </a>
            </li>
            <li *hasRole="['ADMIN']">
                <a
                routerLink="agents"
                routerLinkActive="bg-blue-700"
                class="hover:bg-blue-600 block px-3 py-2 rounded-md font-medium">
                    {{ "navbar.agents" | translate }}
                </a>
            </li>
            <li *hasRole="['ADMIN']">
                <a
                routerLink="create-agent"
                routerLinkActive="bg-blue-700"
                class="hover:bg-blue-600 block px-3 py-2 rounded-md font-medium">
                    {{ "navbar.create-agent" | translate }}
                </a>
            </li>
            <li>
                <a (click)="logout()"
                class="hover:bg-blue-600 block px-3 py-2 rounded-md font-medium cursor-pointer">
                    {{ "navbar.logout" | translate }}
                </a>
            </li>
        </ul>
    </nav>
</header>