<!-- search -->
<form [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="w-[90%] mx-auto my-8 font-roboto bg-white p-6 shadow-lg rounded-md">
    <div class="grid grid-cols-1 md:grid-cols-7 gap-4 items-center">    
      
      <!-- nit -->
      <div>
        <input 
          type="number" 
          formControlName="nit" 
          [placeholder]="'user.pages.list.form.nit' | translate"
          class="w-full px-4 py-2 bg-white border border-blue-900 rounded-md text-sm md:text-base outline-none focus:ring-2 focus:ring-blue-300"
        />
      </div>

      <!-- submit button -->
      <button 
        type="submit" 
        class="bg-blue-200 hover:bg-blue-300 rounded-md font-bold px-4 py-2 text-sm md:text-base"
      >
        {{ 'user.pages.list.form.button' | translate }}
      </button>
    </div>
</form>

<!-- table -->
<div class="mt-6 w-full px-4 text-sm md:text-base font-roboto text-center">
    <div class="overflow-x-auto">
        <div class="min-w-[1000px]">
            <table class="w-full table-auto">
                <thead class="bg-blue-800 text-blue-50">
                    <tr>
                        <th class="p-3 md:p-4" scope="col">{{ 'user.pages.list.table.th.id' | translate }}</th>
                        <th class="p-3 md:p-4" scope="col">{{ 'user.pages.list.table.th.name' | translate }}</th>
                        <th class="p-3 md:p-4" scope="col">{{ 'user.pages.list.table.th.email' | translate }}</th>
                        <th class="p-3 md:p-4" scope="col">{{ 'user.pages.list.table.th.phone' | translate }}</th>
                        <th class="p-3 md:p-4" scope="col">{{ 'user.pages.list.table.th.address' | translate }}</th>
                        <th class="p-3 md:p-4" scope="col">{{ 'user.pages.list.table.th.nit' | translate }}</th>
                        <th class="p-3 md:p-4" scope="col">{{ 'user.pages.list.table.th.actions' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let agent of agents | paginate: { itemsPerPage: sizeValue, currentPage: pageValue, totalItems: totalData }" class="hover:bg-blue-50">
                        <td class="p-3 md:p-4">{{ agent.id }}</td>
                        <td class="p-3 md:p-4">{{ agent.firstName }} {{ agent.lastName }}</td>
                        <td class="p-3 md:p-4">{{ agent.email }}</td>
                        <td class="p-3 md:p-4">{{ agent.phone }}</td>
                        <td class="p-3 md:p-4">{{ agent.address }}</td>
                        <td class="p-3 md:p-4">{{ agent.nit }}</td>
                        <td class="p-3 md:p-4">
                            <div class="flex gap-3 items-center justify-center">
                                <button class="p-3 bg-blue-50 hover:bg-blue-100 text-blue-600 rounded-full" 
                                        (click)="onEdit(agent)">
                                    <i-lucide [img]="Pencil" class="w-5 h-5" [strokeWidth]="2.5"></i-lucide>
                                </button>
                                <button class="p-3 bg-red-50 hover:bg-red-100 text-red-600 rounded-full" 
                                        (click)="confirmDelete(agent)">
                                    <i-lucide [img]="Trash2" class="w-5 h-5" [strokeWidth]="2.5"></i-lucide>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- agents not found -->
<div class="mx-auto my-6 md:my-12 text-center" *ngIf="totalData === 0">
    <h2 class="text-2xl font-bold text-gray-500">
        {{ 'user.pages.list.notfound.agent' | translate }}
    </h2>
    <p class="text-gray-400">{{ 'user.pages.list.notfound.description' | translate }}</p>
</div>

<!-- modal -->
<div *ngIf="showDeleteModal" 
     class="fixed inset-0 bg-blue-950/50 flex items-center justify-center z-50"
     (click)="closeModal()">
    
    <div class="bg-blue-50 w-11/12 max-w-md rounded-lg shadow-lg" 
         (click)="$event.stopPropagation()">
        
        <div class="p-4 border-b border-blue-200">
            <h3 class="text-lg font-medium text-blue-900">
                {{ 'user.pages.list.modal.title' | translate}}
            </h3>
        </div>

        <div class="p-4">
            <p class="text-blue-800">
                {{ 'user.pages.list.modal.description0' | translate }} <b>{{ 'user.pages.list.modal.description2' | translate }} {{agentToDelete}}.</b> {{ 'user.pages.list.modal.description3' | translate }}
            </p>
        </div>

        <div class="p-4 border-t border-blue-200 flex justify-end space-x-3">
            <button 
                class="px-4 py-2 bg-blue-50 text-blue-700 rounded-md hover:bg-blue-100"
                (click)="closeModal()">
                {{ 'user.pages.list.modal.back' | translate }}
            </button>
            <button 
                class="px-4 py-2 bg-red-600 text-blue-50 rounded-md hover:bg-red-700"
                (click)="deleteAgent()">
                {{ 'user.pages.list.modal.next' | translate }}
            </button>
        </div>
    </div>
</div>

<!-- controls -->
<div class="grid place-items-center py-2 mt-8 font-roboto">
    <pagination-controls 
        class="my-pagination"
        (pageChange)="onPageChange($event)" 
        previousLabel="Anterior" 
        nextLabel="Siguiente"
        [maxSize]="5">
    </pagination-controls>
</div>

<app-scroll-top></app-scroll-top>