<div class="flex flex-col mx-auto justify-center h-screen font-robot w-[292px] md:w-[420px]">
  <h1 class="text-2xl md:text-4xl font-bold text-center mb-[24px]">Iniciar Sesión</h1>

  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-y-4 text-sm md:text-base"
  >
    <label class="text-sm md:text-base font-semibold" for="email">email*</label>
    <input
      class="text-sm md:text-base border rounded-md h-[36px] md:h-[39px] py-[2px] px-[8px]"
      type="email"
      id="email"
      formControlName="email"
    />
    <span *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-red-500">
      <span *ngIf="email?.errors?.['required']">Por favor ingrese su email.</span>
      <span *ngIf="email?.errors?.['email']">Email inválido.</span>
    </span>


    <label class="text-sm md:text-base font-semibold" for="password">password*</label>
    <input
      class="text-sm md:text-base border rounded-md h-[36px] md:h-[39px] py-[2px] px-[8px]"
      type="password"
      id="password"
      formControlName="password"
    />
    <span *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-red-500">
      <span *ngIf="password?.errors?.['required']">Por favor ingrese su contraseña.</span>
      <span *ngIf="password?.errors?.['minlength']">La contraseña debe tener al menos 8 caracteres.</span>
    </span>

    <span *ngIf="loginError" class="text-red-500">{{ loginError }}</span>

    <div class="flex flex-col gap-3">
      <button
        type="submit"
        class="text-sm md:text-base bg-blue-200 hover:bg-blue-300 font-semibold rounded-md h-[36px] md:h-[39px] py-[2px]"
      >
        Login
      </button>
  
      <button
        type="button"
        routerLink="/"
        class="text-sm md:text-base hover:bg-blue-100 font-semibold rounded-md h-[36px] md:h-[39px] py-[2px]"
      >
        Inicio
      </button>
    </div>
  </form>
</div>
